body {
    text-align: center;
    font-family: "Source Sans Pro";
    color: black;
    background-color: rgb(101, 154, 224);
  }
  
  .title {
    font-size: 40px;
    font-weight: bold;
  }
  



  #main{
    margin: auto;
    background-color: white;
    width: 400px;
    height: 250px;
    margin-top: 130px;
    border-radius: 10px;
}

#button{
    display: flex;
    justify-content: space-around;
}

h1{
    color: rgb(101, 154, 224);
    padding: 40px 85px;
    
}
